.timer {
  text-align: center;
}

.timer-display {
  margin: 60px;
  display: flex; 
  justify-content: center;
  
} 

.displayed {
  display: flex;
  justify-content: center;
  width: 150px;
  border: solid 1px black;
  border-radius: 1000px;
} 

.timer-btn {
 
  margin: -30px 50px;
  display: flex;
  justify-content: space-evenly;
}

.btn {
width: 80px;
border-radius: 5px;
}

.start {
  color: white;
  background-color: rgb(14, 245, 14);
  }

  .stop {
    color: rgb(209, 204, 204);
    background-color: rgb(245, 14, 26);
    }

    .reset {
      color: rgb(209, 204, 204);
      background-color: rgb(47, 26, 238);
      }